.form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 300px;
}
.form-signin,
.form-request,
.form-change {
  width: 100%;
  padding: 15px;
}
.form-request,
.form-change {
  display: none;
}
input {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  border: none !important;
}
.btn-link {
  text-decoration: none !important;
}
.btn-link:hover {
  color: #ffc107 !important;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: left;
}
:-moz-placeholder {
  text-align: left;
}
.starfleet {
  text-align: center;
  font-size: 2rem;
  color: #f8f9fa !important;
}
.version {
  height: 20px;
  line-height: 24px;
}

/* Efecto Error - Ok! */
.error-msg {
  display: none;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 25px;
  font-size: 0.9rem;
  border: 1px solid #dc3545!important;
}
.error-animation {
  animation: error .2s linear;
}

@keyframes error {
  0% {
    transform: translate(-51%, -50%);
  }
  20% {
    transform: translate(-49%, -50%);
  }
  40% {
    transform: translate(-51%, -50%);
  }
  60% {
    transform: translate(-49%, -50%);
  }
  80% {
    transform: translate(-51%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
/* Efecto Error - Ok! */